<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CCSWE.nanoFramework.Collections.Concurrent" version="0.4.0" targetFramework="netnano1.0" />
  <package id="CCSWE.nanoFramework.Core" version="0.2.2" targetFramework="netnano1.0" />
  <package id="CCSWE.nanoFramework.Threading" version="0.1.2" targetFramework="netnano1.0" />
  <package id="nanoFramework.CoreLibrary" version="1.14.2" targetFramework="netnano1.0" />
  <package id="nanoFramework.DependencyInjection" version="1.0.35" targetFramework="netnano1.0" />
  <package id="nanoFramework.Hosting" version="1.0.25" targetFramework="netnano1.0" />
  <package id="nanoFramework.Logging" version="1.1.63" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.Collections" version="1.5.18" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.Text" version="1.2.37" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.Threading" version="1.1.19" targetFramework="netnano1.0" />
  <package id="Nerdbank.GitVersioning" version="3.6.133" targetFramework="netnano1.0" developmentDependency="true" />
</packages>